<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--    <mvc:annotation-driven/>-->
<!--    <context:component-scan base-package="src"/>-->

<!--    <b  ean id="testBean" class="src.bean.TestBean" name="testBean">-->
<!--        <property name="id" value="1234"/>-->
<!--        <property name="name" value="testBean"/>-->
<!--        <property name="circularBean" ref="cirBean"/>-->
<!--    </bean>-->


<!--    <bean id="cirBean" class="src.bean.CircularBean">-->
<!--        <property name="beanName" value="cirBean"/>-->
<!--        <property name="cirId" value="2222"/>-->
<!--        <property name="testBean" ref="testBean"/>-->
<!--    </bean>-->

    <bean name="person" class="src.bean.Person">
        <property name="name" value="xxx"/>
        <property name="age" value="25"/>
    </bean>


</beans>
